In [1]:
library(readxl)
library(dplyr)
library(lubridate)
library(hms)

day_1 <- read_excel("/content/data.xlsx", sheet = "Day 1")
day_2 <- read_excel("/content/data.xlsx", sheet = "Day 2")
day_3 <- read_excel("/content/data.xlsx", sheet = "Day 3")


day_1
day_2
day_3

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union



Attaching package: ‘lubridate’


The following objects are masked from ‘package:base’:

    date, intersect, setdiff, union



Attaching package: ‘hms’


The following object is masked from ‘package:lubridate’:

    hms


New names:
• `` -> `...5`
• `` -> `...6`

   No Antrian             Dilayani            Selesai
1   1 <NA>                2025-11-11 11:00:14 2025-11-11 11:02:07
2   2 2025-11-11 11:04:05 2025-11-11 11:04:45 2025-11-11 11:05:03
3   3 2025-11-11 11:04:40 2025-11-11 11:05:18 2025-11-11 11:08:13
4   4 2025-11-11 11:04:49 2025-11-11 11:08:42 2025-11-11 11:10:08
5   5 2025-11-11 11:05:50 2025-11-11 11:10:30 2025-11-11 11:12:04
6   6 2025-11-11 11:08:57 2025-11-11 11:12:15 2025-11-11 11:13:55
7   7 2025-11-11 11:10:36 2025-11-11 11:14:45 2025-11-11 11:16:00
8   8 2025-11-11 11:17:16 2025-11-11 11:17:47 2025-11-11 11:20:27
9   9 2025-11-11 11:21:17 2025-11-11 11:23:46 2025-11-11 11:25:45
10 10 2025-11-11 11:21:47 2025-11-11 11:25:55 2025-11-11 11:27:12
11 11 2025-11-11 11:27:24 2025-11-11 11:28:02 2025-11-11 11:29:31
12 12 2025-11-11 11:38:17 2025-11-11 11:39:45 2025-11-11 11:41:07
13 13 2025-11-11 11:41:37 2025-11-11 11:41:57 2025-11-11 11:45:15
14 14 2025-11-11 11:43:23 2025-11-11 11:43:30 2025-11-11 11:45:26
15 15 2025-11-11 11:56:02 2025-11-11 11:56:15 2025-11-11 11:58:10
16 16 2025-11-11 11:58:03 2025-11-11 11:58:35 2025-11-11 11:59:57
17 17 2025-11-11 11:58:19 2025-11-11 12:00:02 2025-11-11 12:02:25
18 18 2025-11-11 11:58:38 2025-11-11 12:02:35 2025-11-11 12:03:02
19 19 2025-11-11 12:00:15 2025-11-11 12:03:17 2025-11-11 12:04:56
20 20 2025-11-11 12:01:33 2025-11-11 12:05:43 2025-11-11 12:07:24
21 21 2025-11-11 12:02:49 2025-11-11 12:07:45 2025-11-11 12:09:44
22 22 2025-11-11 12:05:06 2025-11-11 12:10:05 2025-11-11 12:11:00
23 23 2025-11-11 12:05:10 2025-11-11 12:12:03 2025-11-11 12:13:20
24 24 2025-11-11 12:08:11 2025-11-11 12:13:40 2025-11-11 12:14:40
25 25 2025-11-11 12:11:16 2025-11-11 12:15:13 2025-11-11 12:16:33
26 26 2025-11-11 12:14:27 2025-11-11 12:17:05 2025-11-11 12:18:10
27 27 2025-11-11 12:14:30 2025-11-11 12:18:32 2025-11-11 12:20:10
28 28 2025-11-11 12:16:12 2025-11-11 12:20:45 2025-11-11 12:22:13
29 29 2025-11-11 12:21:23 2025-11-11 12:23:30 2025-11-11 12:25:05
30 30 2025-11-11 12:22:10 2025-11-11 12:26:03 2025-11-11 12:27:20
31 31 2025-11-11 12:22:12 2025-11-11 12:27:30 2025-11-11 12:29:59
32 32 2025-11-11 12:25:03 2025-11-11 12:30:07 2025-11-11 12:31:20
33 33 2025-11-11 12:29:40 2025-11-11 12:31:33 2025-11-11 12:34:38
34 34 2025-11-11 12:29:47 2025-11-11 12:35:00 2025-11-11 12:38:13
35 35 2025-11-11 12:30:45 2025-11-11 12:38:25 2025-11-11 12:39:40
36 36 2025-11-11 12:37:53 2025-11-11 12:34:55 2025-11-11 12:41:00
37 37 2025-11-11 12:42:25 2025-11-11 12:46:30 2025-11-11 12:48:50
38 38 2025-11-11 12:43:25 2025-11-11 12:43:55 2025-11-11 12:45:10
39 39 2025-11-11 12:55:35 2025-11-11 12:56:35 2025-11-11 13:59:55
40 40 2025-11-11 12:55:40 <NA>                <NA>
41 41 2025-11-11 13:00:00 <NA>                <NA>

   No Antrian             Dilayani            Selesai             ...5 ...6
1   1 2025-11-12 07:30:15 2025-11-12 07:31:01 2025-11-12 07:31:34 NA   NA
2   2 2025-11-12 07:32:10 2025-11-12 07:33:15 2025-11-12 07:34:59 NA   NA
3   3 2025-11-12 07:35:20 2025-11-12 07:36:59 2025-11-12 07:37:17 NA   NA
4   4 2025-11-12 07:39:13 2025-11-12 07:39:20 2025-11-12 07:42:15 NA   NA
5   5 2025-11-12 07:43:01 2025-11-12 07:43:15 2025-11-12 07:45:49 NA   NA
6   6 2025-11-12 07:45:09 2025-11-12 07:45:50 2025-11-12 07:49:51 NA   NA
7   7 2025-11-12 07:51:39 2025-11-12 07:51:58 2025-11-12 07:53:40 NA   NA
8   8 2025-11-12 07:51:40 2025-11-12 07:53:40 2025-11-12 07:55:10 NA   NA
9   9 2025-11-12 07:53:51 2025-11-12 07:55:10 2025-11-12 07:57:11 NA   NA
10 10 2025-11-12 07:54:03 2025-11-12 07:57:11 2025-11-12 08:00:00 NA   NA
11 11 2025-11-12 07:59:45 2025-11-12 08:00:00 2025-11-12 08:01:32 NA   NA
12 12 2025-11-12 08:01:37 2025-11-12 08:01:37 2025-11-12 08:03:52 NA   NA
13 13 2025-11-12 08:02:49 2025-11-12 08:03:52 2025-11-12 08:04:14 NA   NA
14 14 2025-11-12 08:07:16 2025-11-12 08:08:15 2025-11-12 08:09:34 NA   NA
15 15 2025-11-12 08:09:00 2025-11-12 08:09:34 2025-11-12 08:11:23 NA   NA
16 16 2025-11-12 08:11:20 2025-11-12 08:11:23 2025-11-12 08:13:39 NA   NA
17 17 2025-11-12 08:11:53 2025-11-12 08:13:33 2025-11-12 08:14:11 NA   NA
18 18 2025-11-12 08:12:28 2025-11-12 08:14:12 2025-11-12 08:14:59 NA   NA
19 19 2025-11-12 08:13:37 2025-11-12 08:14:59 2025-11-12 08:17:17 NA   NA
20 20 2025-11-12 08:16:40 2025-11-12 08:17:17 2025-11-12 08:18:51 NA   NA
21 21 2025-11-12 08:19:10 2025-11-12 08:20:51 2025-11-12 08:21:27 NA   NA
22 22 2025-11-12 08:21:38 2025-11-12 08:21:38 2025-11-12 08:23:55 NA   NA
23 23 2025-11-12 08:26:15 2025-11-12 08:26:15 2025-11-12 08:28:01 NA   NA
24 24 2025-11-12 08:26:59 2025-11-12 08:28:01 2025-11-12 08:31:28 NA   NA
25 25 2025-11-12 08:28:09 2025-11-12 08:31:30 2025-11-12 08:34:01 NA   NA
26 26 2025-11-12 08:29:31 2025-11-12 08:34:01 2025-11-12 08:37:00 NA   NA
27 27 2025-11-12 08:31:21 2025-11-12 08:37:01 2025-11-12 08:39:51 NA   NA
28 28 2025-11-12 08:38:01 2025-11-12 08:39:59 2025-11-12 08:41:54 NA   NA
29 29 2025-11-12 08:38:59 2025-11-12 08:42:00 2025-11-12 08:45:01 NA   NA
30 30 2025-11-12 08:41:50 2025-11-12 08:45:10 2025-11-12 08:47:30 NA   NA
31 31 2025-11-12 08:42:12 2025-11-12 08:47:30 2025-11-12 08:52:01 NA   NA
32 32 2025-11-12 08:45:15 2025-11-12 08:52:05 2025-11-12 08:55:00 NA   NA
33 33 2025-11-12 08:47:10 2025-11-12 08:55:05 2025-11-12 08:56:15 NA   NA
34 34 2025-11-12 08:45:15 2025-11-12 08:56:15 2025-11-12 08:59:10 NA   NA
35 35 2025-11-12 08:56:15 2025-11-12 09:00:01 2025-11-12 09:02:00 NA   NA
36 36 2025-11-12 08:59:20 2025-11-12 09:02:21 2025-11-12 09:05:15 NA   NA
37 37 2025-11-12 09:03:10 2025-11-12 09:05:15 2025-11-12 09:08:10 NA   NA
38 38 2025-11-12 09:07:00 2025-11-12 09:08:12 2025-11-12 09:11:05 NA   NA
39 39 2025-11-12 09:10:50 2025-11-12 09:11:09 2025-11-12 09:14:00 NA   NA
40 40 2025-11-12 09:14:40 2025-11-12 09:14:57 2025-11-12 09:16:55 NA   NA
41 41 2025-11-12 09:18:30 2025-11-12 09:18:55 2025-11-12 09:19:50 NA    0
42 42 2025-11-12 09:22:20 2025-11-12 09:22:20 2025-11-12 09:26:45 NA   NA
43 43 2025-11-12 09:26:10 2025-11-12 09:26:50 2025-11-12 09:29:40 NA   NA

   No Antrian             Dilayani            Selesai
1   1 2025-11-13 16:01:05 2025-11-13 16:01:35 2025-11-13 16:03:15
2   2 2025-11-13 16:22:17 2025-11-13 16:26:43 2025-11-13 16:28:32
3   3 2025-11-13 12:22:20 2025-11-13 16:31:03 2025-11-13 16:32:57
4   4 2025-11-13 16:22:39 2025-11-13 16:34:16 2025-11-13 16:35:34
5   5 2025-11-13 16:25:46 2025-11-13 16:36:15 2025-11-13 16:37:41
6   6 2025-11-13 16:25:58 2025-11-13 16:39:12 2025-11-13 16:40:30
7   7 2025-11-13 16:28:29 2025-11-13 16:41:14 2025-11-13 16:42:43
8   8 2025-11-13 16:40:36 2025-11-13 16:45:15 2025-11-13 16:46:23
9   9 2025-11-13 14:44:18 2025-11-13 16:49:37 2025-11-13 16:49:38
10 10 2025-11-13 16:46:19 2025-11-13 16:49:30 2025-11-13 16:49:40
11 11 2025-11-13 16:46:20 2025-11-13 16:52:25 2025-11-13 16:52:59
12 12 2025-11-13 16:48:02 2025-11-13 16:55:16 2025-11-13 16:56:17
13 13 2025-11-13 16:50:28 2025-11-13 16:58:07 2025-11-13 16:58:55
14 14 2025-11-13 16:52:10 2025-11-13 16:59:14 2025-11-13 17:00:46
15 15 2025-11-13 16:53:40 2025-11-13 17:01:49 2025-11-13 17:02:47
16 16 2025-11-13 17:02:47 2025-11-13 17:09:09 2025-11-13 17:10:14
17 17 2025-11-13 17:10:30 2025-11-13 17:13:11 2025-11-13 17:14:38
18 18 2025-11-13 17:10:32 2025-11-13 17:15:04 2025-11-13 17:16:13
19 19 2025-11-13 17:10:33 2025-11-13 17:16:45 2025-11-13 17:17:33
20 20 2025-11-13 17:13:17 2025-11-13 17:21:55 2025-11-13 17:22:41
21 21 2025-11-13 17:15:56 2025-11-13 17:23:20 2025-11-13 17:24:30
22 22 2025-11-13 17:23:02 2025-11-13 17:29:14 2025-11-13 17:30:28
23 23 2025-11-13 17:23:33 2025-11-13 17:26:47 2025-11-13 17:27:06
24 24 2025-11-13 17:35:40 2025-11-13 17:39:03 2025-11-13 17:40:15
25 25 2025-11-13 17:35:43 2025-11-13 17:43:14 2025-11-13 17:44:15
26 26 2025-11-13 17:37:24 2025-11-13 17:45:25 2025-11-13 17:46:04
27 27 2025-11-13 17:43:49 2025-11-13 17:46:17 2025-11-13 17:47:59
28 28 2025-11-13 17:45:54 2025-11-13 17:48:05 2025-11-13 17:50:00
29 29 2025-11-13 17:51:05 2025-11-13 17:51:50 2025-11-13 17:52:57
30 30 2025-11-13 17:51:30 2025-11-13 17:53:20 2025-11-13 17:54:08
31 31 2025-11-13 17:52:27 2025-11-13 17:54:59 2025-11-13 17:56:36
32 32 2025-11-13 17:53:07 2025-11-13 17:56:57 2025-11-13 17:57:21
33 33 2025-11-13 17:53:55 2025-11-13 17:58:48 2025-11-13 18:59:56
34 34 2025-11-13 17:56:44 <NA>                <NA>
35 35 2025-11-13 17:57:29 <NA>                <NA>
36 36 2025-11-13 17:59:02 <NA>                <NA>
37 37 2025-11-13 18:00:00 <NA>                <NA>

In [2]:
library(dplyr)
library(lubridate)

prepare_day <- function(df) {
  df %>%
    mutate(
      Antrian = ymd_hms(Antrian),
      Dilayani = ymd_hms(Dilayani),
      Selesai = ymd_hms(Selesai)
    ) %>%
    arrange(Antrian) %>%
    filter(!is.na(Antrian), !is.na(Dilayani), !is.na(Selesai))
}

day1 <- prepare_day(day_1)
day2 <- prepare_day(day_2)
day3 <- prepare_day(day_3)

In [3]:
compute_metrics <- function(df) {
  df %>%
    mutate(
      interarrival = c(NA, diff(Antrian)),
      service_time = Selesai - Dilayani,
      waiting_time = Dilayani - Antrian
    ) %>%
    mutate(across(c(interarrival, service_time, waiting_time),
                  ~ as.numeric(. , units = "secs")))
}

day1_m <- compute_metrics(day1)
day2_m <- compute_metrics(day2)
day3_m <- compute_metrics(day3)

In [4]:
estimate_parameters <- function(df) {
  mean_interarrival <- mean(df$interarrival, na.rm = TRUE)
  mean_service <- mean(df$service_time, na.rm = TRUE)

  lambda <- 1 / mean_interarrival   # kedatangan per detik
  mu <- 1 / mean_service            # pelayanan per detik

  data.frame(
    mean_interarrival_sec = mean_interarrival,
    mean_service_sec = mean_service,
    lambda = lambda,
    mu = mu,
    rho = lambda / mu
  )
}

param_day1 <- estimate_parameters(day1_m)
param_day2 <- estimate_parameters(day2_m)
param_day3 <- estimate_parameters(day3_m)

In [5]:
mm1_performance <- function(lambda, mu) {
  rho <- lambda / mu

  Lq <- rho^2 / (1 - rho)
  L <- rho / (1 - rho)
  Wq <- Lq / lambda
  W <- L / lambda

  data.frame(
    rho = rho,
    L = L,
    Lq = Lq,
    W = W,
    Wq = Wq
  )
}

perf_day1 <- mm1_performance(param_day1$lambda, param_day1$mu)
perf_day2 <- mm1_performance(param_day2$lambda, param_day2$mu)
perf_day3 <- mm1_performance(param_day3$lambda, param_day3$mu)

In [6]:
param_day1
param_day2
param_day3

perf_day1
perf_day2
perf_day3

  mean_interarrival_sec mean_service_sec lambda      mu         rho
1 180.8108              205.9211         0.005530643 0.00485623 1.138876

  mean_interarrival_sec mean_service_sec lambda      mu          rho
1 165.5952              130.9302         0.006038821 0.007637655 0.7906642

  mean_interarrival_sec mean_service_sec lambda      mu        rho
1 621.7188              175.6667         0.001608444 0.0056926 0.2825501

  rho      L        Lq        W         Wq
1 1.138876 -8.20068 -9.339556 -1482.772 -1688.693

  rho       L        Lq      W        Wq
1 0.7906642 3.777015 2.98635 625.4556 494.5254

  rho       L         Lq        W        Wq
1 0.2825501 0.3938255 0.1112754 244.8487 69.18201

In [7]:
clean_invalid <- function(df) {
  df %>%
    mutate(
      interarrival = c(NA, as.numeric(diff(Antrian), units="secs")),
      service_time = as.numeric(Selesai - Dilayani, units="secs"),
      waiting_time = as.numeric(Dilayani - Antrian, units="secs")
    ) %>%
    filter(
      !is.na(service_time),
      service_time > 0,
      waiting_time >= 0,
      interarrival >= 0
    )
}

In [8]:
day1_clean <- clean_invalid(day1)
day2_clean <- clean_invalid(day2)
day3_clean <- clean_invalid(day3)

In [9]:
param_day1 <- estimate_parameters(day1_clean)
param_day2 <- estimate_parameters(day2_clean)
param_day3 <- estimate_parameters(day3_clean)

In [10]:
perf_day1 <- mm1_performance(param_day1$lambda, param_day1$mu)
perf_day2 <- mm1_performance(param_day2$lambda, param_day2$mu)
perf_day3 <- mm1_performance(param_day3$lambda, param_day3$mu)

In [11]:
nrow(day3)
nrow(day3_clean)
head(day3_clean)

[1] 33

[1] 32

  No Antrian             Dilayani            Selesai             interarrival
1 9  2025-11-13 14:44:18 2025-11-13 16:49:37 2025-11-13 16:49:38 8518
2 1  2025-11-13 16:01:05 2025-11-13 16:01:35 2025-11-13 16:03:15 4607
3 2  2025-11-13 16:22:17 2025-11-13 16:26:43 2025-11-13 16:28:32 1272
4 4  2025-11-13 16:22:39 2025-11-13 16:34:16 2025-11-13 16:35:34   22
5 5  2025-11-13 16:25:46 2025-11-13 16:36:15 2025-11-13 16:37:41  187
6 6  2025-11-13 16:25:58 2025-11-13 16:39:12 2025-11-13 16:40:30   12
  service_time waiting_time
1   1          7519
2 100            30
3 109           266
4  78           697
5  86           629
6  78           794

In [12]:
# --- Fungsi hitung parameter ---
estimate_parameters <- function(df) {
  mean_interarrival <- mean(df$interarrival, na.rm = TRUE)
  mean_service <- mean(df$service_time, na.rm = TRUE)

  lambda <- 1 / mean_interarrival
  mu <- 1 / mean_service
  rho <- lambda / mu

  data.frame(
    mean_interarrival_sec = mean_interarrival,
    mean_service_sec = mean_service,
    lambda = lambda,
    mu = mu,
    rho = rho
  )
}

# --- Fungsi performansi M/M/1 ---
mm1_performance <- function(lambda, mu) {
  rho <- lambda / mu

  L  <- rho / (1 - rho)
  Lq <- rho^2 / (1 - rho)
  W  <- L / lambda
  Wq <- Lq / lambda

  data.frame(rho, L, Lq, W, Wq)
}

# --- Hitung parameter Day 3 ---
param_day3 <- estimate_parameters(day3_clean)
param_day3

# --- Hitung performansi Day 3 ---
perf_day3 <- mm1_performance(param_day3$lambda, param_day3$mu)
perf_day3

  mean_interarrival_sec mean_service_sec lambda      mu          rho
1 621.7188              177.5938         0.001608444 0.005630829 0.2856497

  rho       L         Lq        W        Wq
1 0.2856497 0.3998733 0.1142237 248.6088 71.01501

Full CODE

In [13]:
library(readxl)
library(dplyr)
library(lubridate)
library(hms)

# --- Baca file ---
day_1 <- read_excel("data.xlsx", sheet = "Day 1")
day_2 <- read_excel("data.xlsx", sheet = "Day 2")
day_3 <- read_excel("data.xlsx", sheet = "Day 3")

day_1
day_2
day_3

# =========================================================
# 1. Fungsi bersihkan & hitung interarrival, service, waiting
# =========================================================

process_day <- function(df) {

  df <- df %>%
    arrange(Antrian) %>%
    mutate(
      interarrival = as.numeric(c(NA, diff(Antrian)), units = "secs"),
      service_time = as.numeric(Selesai - Dilayani, units = "secs"),
      waiting_time = as.numeric(Dilayani - Antrian, units = "secs")
    )

  # Buang baris tidak valid (NA, negatif)
  df_clean <- df %>%
    filter(
      !is.na(interarrival),
      !is.na(service_time),
      !is.na(waiting_time),
      interarrival >= 0,
      service_time > 0,
      waiting_time >= 0
    )

  return(df_clean)
}

clean_1 <- process_day(day_1)
clean_2 <- process_day(day_2)
clean_3 <- process_day(day_3)

clean_1
clean_2
clean_3

# =========================================================
# 2. Fungsi estimasi parameter M/M/1
# =========================================================

estimate_mm1 <- function(df_clean) {
  mean_interarrival <- mean(df_clean$interarrival)
  mean_service      <- mean(df_clean$service_time)

  lambda <- 1 / mean_interarrival
  mu     <- 1 / mean_service
  rho    <- lambda / mu

  return(
    data.frame(
      mean_interarrival_sec = mean_interarrival,
      mean_service_sec      = mean_service,
      lambda = lambda,
      mu = mu,
      rho = rho
    )
  )
}

mm1_1 <- estimate_mm1(clean_1)
mm1_2 <- estimate_mm1(clean_2)
mm1_3 <- estimate_mm1(clean_3)

mm1_1
mm1_2
mm1_3

# =========================================================
# 3. Fungsi hitung ukuran kinerja M/M/1
# =========================================================

mm1_metrics <- function(lambda, mu) {
  rho <- lambda / mu

  if (rho >= 1) {
    return(data.frame(rho = rho, L = NA, Lq = NA, W = NA, Wq = NA))
  }

  L  <- rho / (1 - rho)
  Lq <- rho^2 / (1 - rho)
  W  <- L / lambda
  Wq <- Lq / lambda

  return(data.frame(rho = rho, L = L, Lq = Lq, W = W, Wq = Wq))
}

perf_1 <- mm1_metrics(mm1_1$lambda, mm1_1$mu)
perf_2 <- mm1_metrics(mm1_2$lambda, mm1_2$mu)
perf_3 <- mm1_metrics(mm1_3$lambda, mm1_3$mu)

New names:
• `` -> `...5`
• `` -> `...6`

   No Antrian             Dilayani            Selesai
1   1 <NA>                2025-11-11 11:00:14 2025-11-11 11:02:07
2   2 2025-11-11 11:04:05 2025-11-11 11:04:45 2025-11-11 11:05:03
3   3 2025-11-11 11:04:40 2025-11-11 11:05:18 2025-11-11 11:08:13
4   4 2025-11-11 11:04:49 2025-11-11 11:08:42 2025-11-11 11:10:08
5   5 2025-11-11 11:05:50 2025-11-11 11:10:30 2025-11-11 11:12:04
6   6 2025-11-11 11:08:57 2025-11-11 11:12:15 2025-11-11 11:13:55
7   7 2025-11-11 11:10:36 2025-11-11 11:14:45 2025-11-11 11:16:00
8   8 2025-11-11 11:17:16 2025-11-11 11:17:47 2025-11-11 11:20:27
9   9 2025-11-11 11:21:17 2025-11-11 11:23:46 2025-11-11 11:25:45
10 10 2025-11-11 11:21:47 2025-11-11 11:25:55 2025-11-11 11:27:12
11 11 2025-11-11 11:27:24 2025-11-11 11:28:02 2025-11-11 11:29:31
12 12 2025-11-11 11:38:17 2025-11-11 11:39:45 2025-11-11 11:41:07
13 13 2025-11-11 11:41:37 2025-11-11 11:41:57 2025-11-11 11:45:15
14 14 2025-11-11 11:43:23 2025-11-11 11:43:30 2025-11-11 11:45:26
15 15 2025-11-11 11:56:02 2025-11-11 11:56:15 2025-11-11 11:58:10
16 16 2025-11-11 11:58:03 2025-11-11 11:58:35 2025-11-11 11:59:57
17 17 2025-11-11 11:58:19 2025-11-11 12:00:02 2025-11-11 12:02:25
18 18 2025-11-11 11:58:38 2025-11-11 12:02:35 2025-11-11 12:03:02
19 19 2025-11-11 12:00:15 2025-11-11 12:03:17 2025-11-11 12:04:56
20 20 2025-11-11 12:01:33 2025-11-11 12:05:43 2025-11-11 12:07:24
21 21 2025-11-11 12:02:49 2025-11-11 12:07:45 2025-11-11 12:09:44
22 22 2025-11-11 12:05:06 2025-11-11 12:10:05 2025-11-11 12:11:00
23 23 2025-11-11 12:05:10 2025-11-11 12:12:03 2025-11-11 12:13:20
24 24 2025-11-11 12:08:11 2025-11-11 12:13:40 2025-11-11 12:14:40
25 25 2025-11-11 12:11:16 2025-11-11 12:15:13 2025-11-11 12:16:33
26 26 2025-11-11 12:14:27 2025-11-11 12:17:05 2025-11-11 12:18:10
27 27 2025-11-11 12:14:30 2025-11-11 12:18:32 2025-11-11 12:20:10
28 28 2025-11-11 12:16:12 2025-11-11 12:20:45 2025-11-11 12:22:13
29 29 2025-11-11 12:21:23 2025-11-11 12:23:30 2025-11-11 12:25:05
30 30 2025-11-11 12:22:10 2025-11-11 12:26:03 2025-11-11 12:27:20
31 31 2025-11-11 12:22:12 2025-11-11 12:27:30 2025-11-11 12:29:59
32 32 2025-11-11 12:25:03 2025-11-11 12:30:07 2025-11-11 12:31:20
33 33 2025-11-11 12:29:40 2025-11-11 12:31:33 2025-11-11 12:34:38
34 34 2025-11-11 12:29:47 2025-11-11 12:35:00 2025-11-11 12:38:13
35 35 2025-11-11 12:30:45 2025-11-11 12:38:25 2025-11-11 12:39:40
36 36 2025-11-11 12:37:53 2025-11-11 12:34:55 2025-11-11 12:41:00
37 37 2025-11-11 12:42:25 2025-11-11 12:46:30 2025-11-11 12:48:50
38 38 2025-11-11 12:43:25 2025-11-11 12:43:55 2025-11-11 12:45:10
39 39 2025-11-11 12:55:35 2025-11-11 12:56:35 2025-11-11 13:59:55
40 40 2025-11-11 12:55:40 <NA>                <NA>
41 41 2025-11-11 13:00:00 <NA>                <NA>

   No Antrian             Dilayani            Selesai             ...5 ...6
1   1 2025-11-12 07:30:15 2025-11-12 07:31:01 2025-11-12 07:31:34 NA   NA
2   2 2025-11-12 07:32:10 2025-11-12 07:33:15 2025-11-12 07:34:59 NA   NA
3   3 2025-11-12 07:35:20 2025-11-12 07:36:59 2025-11-12 07:37:17 NA   NA
4   4 2025-11-12 07:39:13 2025-11-12 07:39:20 2025-11-12 07:42:15 NA   NA
5   5 2025-11-12 07:43:01 2025-11-12 07:43:15 2025-11-12 07:45:49 NA   NA
6   6 2025-11-12 07:45:09 2025-11-12 07:45:50 2025-11-12 07:49:51 NA   NA
7   7 2025-11-12 07:51:39 2025-11-12 07:51:58 2025-11-12 07:53:40 NA   NA
8   8 2025-11-12 07:51:40 2025-11-12 07:53:40 2025-11-12 07:55:10 NA   NA
9   9 2025-11-12 07:53:51 2025-11-12 07:55:10 2025-11-12 07:57:11 NA   NA
10 10 2025-11-12 07:54:03 2025-11-12 07:57:11 2025-11-12 08:00:00 NA   NA
11 11 2025-11-12 07:59:45 2025-11-12 08:00:00 2025-11-12 08:01:32 NA   NA
12 12 2025-11-12 08:01:37 2025-11-12 08:01:37 2025-11-12 08:03:52 NA   NA
13 13 2025-11-12 08:02:49 2025-11-12 08:03:52 2025-11-12 08:04:14 NA   NA
14 14 2025-11-12 08:07:16 2025-11-12 08:08:15 2025-11-12 08:09:34 NA   NA
15 15 2025-11-12 08:09:00 2025-11-12 08:09:34 2025-11-12 08:11:23 NA   NA
16 16 2025-11-12 08:11:20 2025-11-12 08:11:23 2025-11-12 08:13:39 NA   NA
17 17 2025-11-12 08:11:53 2025-11-12 08:13:33 2025-11-12 08:14:11 NA   NA
18 18 2025-11-12 08:12:28 2025-11-12 08:14:12 2025-11-12 08:14:59 NA   NA
19 19 2025-11-12 08:13:37 2025-11-12 08:14:59 2025-11-12 08:17:17 NA   NA
20 20 2025-11-12 08:16:40 2025-11-12 08:17:17 2025-11-12 08:18:51 NA   NA
21 21 2025-11-12 08:19:10 2025-11-12 08:20:51 2025-11-12 08:21:27 NA   NA
22 22 2025-11-12 08:21:38 2025-11-12 08:21:38 2025-11-12 08:23:55 NA   NA
23 23 2025-11-12 08:26:15 2025-11-12 08:26:15 2025-11-12 08:28:01 NA   NA
24 24 2025-11-12 08:26:59 2025-11-12 08:28:01 2025-11-12 08:31:28 NA   NA
25 25 2025-11-12 08:28:09 2025-11-12 08:31:30 2025-11-12 08:34:01 NA   NA
26 26 2025-11-12 08:29:31 2025-11-12 08:34:01 2025-11-12 08:37:00 NA   NA
27 27 2025-11-12 08:31:21 2025-11-12 08:37:01 2025-11-12 08:39:51 NA   NA
28 28 2025-11-12 08:38:01 2025-11-12 08:39:59 2025-11-12 08:41:54 NA   NA
29 29 2025-11-12 08:38:59 2025-11-12 08:42:00 2025-11-12 08:45:01 NA   NA
30 30 2025-11-12 08:41:50 2025-11-12 08:45:10 2025-11-12 08:47:30 NA   NA
31 31 2025-11-12 08:42:12 2025-11-12 08:47:30 2025-11-12 08:52:01 NA   NA
32 32 2025-11-12 08:45:15 2025-11-12 08:52:05 2025-11-12 08:55:00 NA   NA
33 33 2025-11-12 08:47:10 2025-11-12 08:55:05 2025-11-12 08:56:15 NA   NA
34 34 2025-11-12 08:45:15 2025-11-12 08:56:15 2025-11-12 08:59:10 NA   NA
35 35 2025-11-12 08:56:15 2025-11-12 09:00:01 2025-11-12 09:02:00 NA   NA
36 36 2025-11-12 08:59:20 2025-11-12 09:02:21 2025-11-12 09:05:15 NA   NA
37 37 2025-11-12 09:03:10 2025-11-12 09:05:15 2025-11-12 09:08:10 NA   NA
38 38 2025-11-12 09:07:00 2025-11-12 09:08:12 2025-11-12 09:11:05 NA   NA
39 39 2025-11-12 09:10:50 2025-11-12 09:11:09 2025-11-12 09:14:00 NA   NA
40 40 2025-11-12 09:14:40 2025-11-12 09:14:57 2025-11-12 09:16:55 NA   NA
41 41 2025-11-12 09:18:30 2025-11-12 09:18:55 2025-11-12 09:19:50 NA    0
42 42 2025-11-12 09:22:20 2025-11-12 09:22:20 2025-11-12 09:26:45 NA   NA
43 43 2025-11-12 09:26:10 2025-11-12 09:26:50 2025-11-12 09:29:40 NA   NA

   No Antrian             Dilayani            Selesai
1   1 2025-11-13 16:01:05 2025-11-13 16:01:35 2025-11-13 16:03:15
2   2 2025-11-13 16:22:17 2025-11-13 16:26:43 2025-11-13 16:28:32
3   3 2025-11-13 12:22:20 2025-11-13 16:31:03 2025-11-13 16:32:57
4   4 2025-11-13 16:22:39 2025-11-13 16:34:16 2025-11-13 16:35:34
5   5 2025-11-13 16:25:46 2025-11-13 16:36:15 2025-11-13 16:37:41
6   6 2025-11-13 16:25:58 2025-11-13 16:39:12 2025-11-13 16:40:30
7   7 2025-11-13 16:28:29 2025-11-13 16:41:14 2025-11-13 16:42:43
8   8 2025-11-13 16:40:36 2025-11-13 16:45:15 2025-11-13 16:46:23
9   9 2025-11-13 14:44:18 2025-11-13 16:49:37 2025-11-13 16:49:38
10 10 2025-11-13 16:46:19 2025-11-13 16:49:30 2025-11-13 16:49:40
11 11 2025-11-13 16:46:20 2025-11-13 16:52:25 2025-11-13 16:52:59
12 12 2025-11-13 16:48:02 2025-11-13 16:55:16 2025-11-13 16:56:17
13 13 2025-11-13 16:50:28 2025-11-13 16:58:07 2025-11-13 16:58:55
14 14 2025-11-13 16:52:10 2025-11-13 16:59:14 2025-11-13 17:00:46
15 15 2025-11-13 16:53:40 2025-11-13 17:01:49 2025-11-13 17:02:47
16 16 2025-11-13 17:02:47 2025-11-13 17:09:09 2025-11-13 17:10:14
17 17 2025-11-13 17:10:30 2025-11-13 17:13:11 2025-11-13 17:14:38
18 18 2025-11-13 17:10:32 2025-11-13 17:15:04 2025-11-13 17:16:13
19 19 2025-11-13 17:10:33 2025-11-13 17:16:45 2025-11-13 17:17:33
20 20 2025-11-13 17:13:17 2025-11-13 17:21:55 2025-11-13 17:22:41
21 21 2025-11-13 17:15:56 2025-11-13 17:23:20 2025-11-13 17:24:30
22 22 2025-11-13 17:23:02 2025-11-13 17:29:14 2025-11-13 17:30:28
23 23 2025-11-13 17:23:33 2025-11-13 17:26:47 2025-11-13 17:27:06
24 24 2025-11-13 17:35:40 2025-11-13 17:39:03 2025-11-13 17:40:15
25 25 2025-11-13 17:35:43 2025-11-13 17:43:14 2025-11-13 17:44:15
26 26 2025-11-13 17:37:24 2025-11-13 17:45:25 2025-11-13 17:46:04
27 27 2025-11-13 17:43:49 2025-11-13 17:46:17 2025-11-13 17:47:59
28 28 2025-11-13 17:45:54 2025-11-13 17:48:05 2025-11-13 17:50:00
29 29 2025-11-13 17:51:05 2025-11-13 17:51:50 2025-11-13 17:52:57
30 30 2025-11-13 17:51:30 2025-11-13 17:53:20 2025-11-13 17:54:08
31 31 2025-11-13 17:52:27 2025-11-13 17:54:59 2025-11-13 17:56:36
32 32 2025-11-13 17:53:07 2025-11-13 17:56:57 2025-11-13 17:57:21
33 33 2025-11-13 17:53:55 2025-11-13 17:58:48 2025-11-13 18:59:56
34 34 2025-11-13 17:56:44 <NA>                <NA>
35 35 2025-11-13 17:57:29 <NA>                <NA>
36 36 2025-11-13 17:59:02 <NA>                <NA>
37 37 2025-11-13 18:00:00 <NA>                <NA>

   No Antrian             Dilayani            Selesai             interarrival
1   3 2025-11-11 11:04:40 2025-11-11 11:05:18 2025-11-11 11:08:13  35
2   4 2025-11-11 11:04:49 2025-11-11 11:08:42 2025-11-11 11:10:08   9
3   5 2025-11-11 11:05:50 2025-11-11 11:10:30 2025-11-11 11:12:04  61
4   6 2025-11-11 11:08:57 2025-11-11 11:12:15 2025-11-11 11:13:55 187
5   7 2025-11-11 11:10:36 2025-11-11 11:14:45 2025-11-11 11:16:00  99
6   8 2025-11-11 11:17:16 2025-11-11 11:17:47 2025-11-11 11:20:27 400
7   9 2025-11-11 11:21:17 2025-11-11 11:23:46 2025-11-11 11:25:45 241
8  10 2025-11-11 11:21:47 2025-11-11 11:25:55 2025-11-11 11:27:12  30
9  11 2025-11-11 11:27:24 2025-11-11 11:28:02 2025-11-11 11:29:31 337
10 12 2025-11-11 11:38:17 2025-11-11 11:39:45 2025-11-11 11:41:07 653
11 13 2025-11-11 11:41:37 2025-11-11 11:41:57 2025-11-11 11:45:15 200
12 14 2025-11-11 11:43:23 2025-11-11 11:43:30 2025-11-11 11:45:26 106
13 15 2025-11-11 11:56:02 2025-11-11 11:56:15 2025-11-11 11:58:10 759
14 16 2025-11-11 11:58:03 2025-11-11 11:58:35 2025-11-11 11:59:57 121
15 17 2025-11-11 11:58:19 2025-11-11 12:00:02 2025-11-11 12:02:25  16
16 18 2025-11-11 11:58:38 2025-11-11 12:02:35 2025-11-11 12:03:02  19
17 19 2025-11-11 12:00:15 2025-11-11 12:03:17 2025-11-11 12:04:56  97
18 20 2025-11-11 12:01:33 2025-11-11 12:05:43 2025-11-11 12:07:24  78
19 21 2025-11-11 12:02:49 2025-11-11 12:07:45 2025-11-11 12:09:44  76
20 22 2025-11-11 12:05:06 2025-11-11 12:10:05 2025-11-11 12:11:00 137
21 23 2025-11-11 12:05:10 2025-11-11 12:12:03 2025-11-11 12:13:20   4
22 24 2025-11-11 12:08:11 2025-11-11 12:13:40 2025-11-11 12:14:40 181
23 25 2025-11-11 12:11:16 2025-11-11 12:15:13 2025-11-11 12:16:33 185
24 26 2025-11-11 12:14:27 2025-11-11 12:17:05 2025-11-11 12:18:10 191
25 27 2025-11-11 12:14:30 2025-11-11 12:18:32 2025-11-11 12:20:10   3
26 28 2025-11-11 12:16:12 2025-11-11 12:20:45 2025-11-11 12:22:13 102
27 29 2025-11-11 12:21:23 2025-11-11 12:23:30 2025-11-11 12:25:05 311
28 30 2025-11-11 12:22:10 2025-11-11 12:26:03 2025-11-11 12:27:20  47
29 31 2025-11-11 12:22:12 2025-11-11 12:27:30 2025-11-11 12:29:59   2
30 32 2025-11-11 12:25:03 2025-11-11 12:30:07 2025-11-11 12:31:20 171
31 33 2025-11-11 12:29:40 2025-11-11 12:31:33 2025-11-11 12:34:38 277
32 34 2025-11-11 12:29:47 2025-11-11 12:35:00 2025-11-11 12:38:13   7
33 35 2025-11-11 12:30:45 2025-11-11 12:38:25 2025-11-11 12:39:40  58
34 37 2025-11-11 12:42:25 2025-11-11 12:46:30 2025-11-11 12:48:50 272
35 38 2025-11-11 12:43:25 2025-11-11 12:43:55 2025-11-11 12:45:10  60
36 39 2025-11-11 12:55:35 2025-11-11 12:56:35 2025-11-11 13:59:55 730
   service_time waiting_time
1   175          38
2    86         233
3    94         280
4   100         198
5    75         249
6   160          31
7   119         149
8    77         248
9    89          38
10   82          88
11  198          20
12  116           7
13  115          13
14   82          32
15  143         103
16   27         237
17   99         182
18  101         250
19  119         296
20   55         299
21   77         413
22   60         329
23   80         237
24   65         158
25   98         242
26   88         273
27   95         127
28   77         233
29  149         318
30   73         304
31  185         113
32  193         313
33   75         460
34  140         245
35   75          30
36 3800          60

   No Antrian             Dilayani            Selesai             ...5 ...6
1   2 2025-11-12 07:32:10 2025-11-12 07:33:15 2025-11-12 07:34:59 NA   NA
2   3 2025-11-12 07:35:20 2025-11-12 07:36:59 2025-11-12 07:37:17 NA   NA
3   4 2025-11-12 07:39:13 2025-11-12 07:39:20 2025-11-12 07:42:15 NA   NA
4   5 2025-11-12 07:43:01 2025-11-12 07:43:15 2025-11-12 07:45:49 NA   NA
5   6 2025-11-12 07:45:09 2025-11-12 07:45:50 2025-11-12 07:49:51 NA   NA
6   7 2025-11-12 07:51:39 2025-11-12 07:51:58 2025-11-12 07:53:40 NA   NA
7   8 2025-11-12 07:51:40 2025-11-12 07:53:40 2025-11-12 07:55:10 NA   NA
8   9 2025-11-12 07:53:51 2025-11-12 07:55:10 2025-11-12 07:57:11 NA   NA
9  10 2025-11-12 07:54:03 2025-11-12 07:57:11 2025-11-12 08:00:00 NA   NA
10 11 2025-11-12 07:59:45 2025-11-12 08:00:00 2025-11-12 08:01:32 NA   NA
11 12 2025-11-12 08:01:37 2025-11-12 08:01:37 2025-11-12 08:03:52 NA   NA
12 13 2025-11-12 08:02:49 2025-11-12 08:03:52 2025-11-12 08:04:14 NA   NA
13 14 2025-11-12 08:07:16 2025-11-12 08:08:15 2025-11-12 08:09:34 NA   NA
14 15 2025-11-12 08:09:00 2025-11-12 08:09:34 2025-11-12 08:11:23 NA   NA
15 16 2025-11-12 08:11:20 2025-11-12 08:11:23 2025-11-12 08:13:39 NA   NA
16 17 2025-11-12 08:11:53 2025-11-12 08:13:33 2025-11-12 08:14:11 NA   NA
17 18 2025-11-12 08:12:28 2025-11-12 08:14:12 2025-11-12 08:14:59 NA   NA
18 19 2025-11-12 08:13:37 2025-11-12 08:14:59 2025-11-12 08:17:17 NA   NA
19 20 2025-11-12 08:16:40 2025-11-12 08:17:17 2025-11-12 08:18:51 NA   NA
20 21 2025-11-12 08:19:10 2025-11-12 08:20:51 2025-11-12 08:21:27 NA   NA
21 22 2025-11-12 08:21:38 2025-11-12 08:21:38 2025-11-12 08:23:55 NA   NA
22 23 2025-11-12 08:26:15 2025-11-12 08:26:15 2025-11-12 08:28:01 NA   NA
23 24 2025-11-12 08:26:59 2025-11-12 08:28:01 2025-11-12 08:31:28 NA   NA
24 25 2025-11-12 08:28:09 2025-11-12 08:31:30 2025-11-12 08:34:01 NA   NA
25 26 2025-11-12 08:29:31 2025-11-12 08:34:01 2025-11-12 08:37:00 NA   NA
26 27 2025-11-12 08:31:21 2025-11-12 08:37:01 2025-11-12 08:39:51 NA   NA
27 28 2025-11-12 08:38:01 2025-11-12 08:39:59 2025-11-12 08:41:54 NA   NA
28 29 2025-11-12 08:38:59 2025-11-12 08:42:00 2025-11-12 08:45:01 NA   NA
29 30 2025-11-12 08:41:50 2025-11-12 08:45:10 2025-11-12 08:47:30 NA   NA
30 31 2025-11-12 08:42:12 2025-11-12 08:47:30 2025-11-12 08:52:01 NA   NA
31 32 2025-11-12 08:45:15 2025-11-12 08:52:05 2025-11-12 08:55:00 NA   NA
32 34 2025-11-12 08:45:15 2025-11-12 08:56:15 2025-11-12 08:59:10 NA   NA
33 33 2025-11-12 08:47:10 2025-11-12 08:55:05 2025-11-12 08:56:15 NA   NA
34 35 2025-11-12 08:56:15 2025-11-12 09:00:01 2025-11-12 09:02:00 NA   NA
35 36 2025-11-12 08:59:20 2025-11-12 09:02:21 2025-11-12 09:05:15 NA   NA
36 37 2025-11-12 09:03:10 2025-11-12 09:05:15 2025-11-12 09:08:10 NA   NA
37 38 2025-11-12 09:07:00 2025-11-12 09:08:12 2025-11-12 09:11:05 NA   NA
38 39 2025-11-12 09:10:50 2025-11-12 09:11:09 2025-11-12 09:14:00 NA   NA
39 40 2025-11-12 09:14:40 2025-11-12 09:14:57 2025-11-12 09:16:55 NA   NA
40 41 2025-11-12 09:18:30 2025-11-12 09:18:55 2025-11-12 09:19:50 NA    0
41 42 2025-11-12 09:22:20 2025-11-12 09:22:20 2025-11-12 09:26:45 NA   NA
42 43 2025-11-12 09:26:10 2025-11-12 09:26:50 2025-11-12 09:29:40 NA   NA
   interarrival service_time waiting_time
1  115          104           65
2  190           18           99
3  233          175            7
4  228          154           14
5  128          241           41
6  390          102           19
7    1           90          120
8  131          121           79
9   12          169          188
10 342           92           15
11 112          135            0
12  72           22           63
13 267           79           59
14 104          109           34
15 140          136            3
16  33           38          100
17  35           47          104
18  69          138           82
19 183           94           37
20 150           36          101
21 148          137            0
22 277          106            0
23  44          207           62
24  70          151          201
25  82          179          270
26 110          170          340
27 400          115          118
28  58          181          181
29 171          140          200
30  22          271          318
31 183          175          410
32   0          175          660
33 115           70          475
34 545          119          226
35 185          174          181
36 230          175          125
37 230          173           72
38 230          171           19
39 230          118           17
40 230           55           25
41 230          265            0
42 230          170           40

   No Antrian             Dilayani            Selesai             interarrival
1   9 2025-11-13 14:44:18 2025-11-13 16:49:37 2025-11-13 16:49:38 8518
2   1 2025-11-13 16:01:05 2025-11-13 16:01:35 2025-11-13 16:03:15 4607
3   2 2025-11-13 16:22:17 2025-11-13 16:26:43 2025-11-13 16:28:32 1272
4   4 2025-11-13 16:22:39 2025-11-13 16:34:16 2025-11-13 16:35:34   22
5   5 2025-11-13 16:25:46 2025-11-13 16:36:15 2025-11-13 16:37:41  187
6   6 2025-11-13 16:25:58 2025-11-13 16:39:12 2025-11-13 16:40:30   12
7   7 2025-11-13 16:28:29 2025-11-13 16:41:14 2025-11-13 16:42:43  151
8   8 2025-11-13 16:40:36 2025-11-13 16:45:15 2025-11-13 16:46:23  727
9  10 2025-11-13 16:46:19 2025-11-13 16:49:30 2025-11-13 16:49:40  343
10 11 2025-11-13 16:46:20 2025-11-13 16:52:25 2025-11-13 16:52:59    1
11 12 2025-11-13 16:48:02 2025-11-13 16:55:16 2025-11-13 16:56:17  102
12 13 2025-11-13 16:50:28 2025-11-13 16:58:07 2025-11-13 16:58:55  146
13 14 2025-11-13 16:52:10 2025-11-13 16:59:14 2025-11-13 17:00:46  102
14 15 2025-11-13 16:53:40 2025-11-13 17:01:49 2025-11-13 17:02:47   90
15 16 2025-11-13 17:02:47 2025-11-13 17:09:09 2025-11-13 17:10:14  547
16 17 2025-11-13 17:10:30 2025-11-13 17:13:11 2025-11-13 17:14:38  463
17 18 2025-11-13 17:10:32 2025-11-13 17:15:04 2025-11-13 17:16:13    2
18 19 2025-11-13 17:10:33 2025-11-13 17:16:45 2025-11-13 17:17:33    1
19 20 2025-11-13 17:13:17 2025-11-13 17:21:55 2025-11-13 17:22:41  164
20 21 2025-11-13 17:15:56 2025-11-13 17:23:20 2025-11-13 17:24:30  159
21 22 2025-11-13 17:23:02 2025-11-13 17:29:14 2025-11-13 17:30:28  426
22 23 2025-11-13 17:23:33 2025-11-13 17:26:47 2025-11-13 17:27:06   31
23 24 2025-11-13 17:35:40 2025-11-13 17:39:03 2025-11-13 17:40:15  727
24 25 2025-11-13 17:35:43 2025-11-13 17:43:14 2025-11-13 17:44:15    3
25 26 2025-11-13 17:37:24 2025-11-13 17:45:25 2025-11-13 17:46:04  101
26 27 2025-11-13 17:43:49 2025-11-13 17:46:17 2025-11-13 17:47:59  385
27 28 2025-11-13 17:45:54 2025-11-13 17:48:05 2025-11-13 17:50:00  125
28 29 2025-11-13 17:51:05 2025-11-13 17:51:50 2025-11-13 17:52:57  311
29 30 2025-11-13 17:51:30 2025-11-13 17:53:20 2025-11-13 17:54:08   25
30 31 2025-11-13 17:52:27 2025-11-13 17:54:59 2025-11-13 17:56:36   57
31 32 2025-11-13 17:53:07 2025-11-13 17:56:57 2025-11-13 17:57:21   40
32 33 2025-11-13 17:53:55 2025-11-13 17:58:48 2025-11-13 18:59:56   48
   service_time waiting_time
1     1         7519
2   100           30
3   109          266
4    78          697
5    86          629
6    78          794
7    89          765
8    68          279
9    10          191
10   34          365
11   61          434
12   48          459
13   92          424
14   58          489
15   65          382
16   87          161
17   69          272
18   48          372
19   46          518
20   70          444
21   74          372
22   19          194
23   72          203
24   61          451
25   39          481
26  102          148
27  115          131
28   67           45
29   48          110
30   97          152
31   24          230
32 3668          293

  mean_interarrival_sec mean_service_sec lambda      mu          rho
1 173.9444              206.7222         0.005748962 0.004837409 1.188438

  mean_interarrival_sec mean_service_sec lambda      mu         rho
1 165.5952              133.2619         0.006038821 0.00750402 0.8047448

  mean_interarrival_sec mean_service_sec lambda      mu          rho
1 621.7188              177.5938         0.001608444 0.005630829 0.2856497

In [14]:
# ----------------------------------------
# Membuat tabel-tabel laporan
# ----------------------------------------

library(dplyr)

# 1. Statistik Dasar
tabel_statistik <- bind_rows(
  clean_1 %>% mutate(Hari = "Day 1"),
  clean_2 %>% mutate(Hari = "Day 2"),
  clean_3 %>% mutate(Hari = "Day 3")
) %>%
  group_by(Hari) %>%
  summarise(
    jumlah_data = n(),
    mean_interarrival = mean(interarrival, na.rm = TRUE),
    mean_service = mean(service_time, na.rm = TRUE),
    min_interarrival = min(interarrival, na.rm = TRUE),
    max_interarrival = max(interarrival, na.rm = TRUE),
    min_service = min(service_time, na.rm = TRUE),
    max_service = max(service_time, na.rm = TRUE)
  )

# Memastikan final_params dan final_mm1 didefinisikan dari output 'Full CODE' cell
final_params <- bind_rows(
  mm1_1 %>% mutate(Hari = "Day 1"),
  mm1_2 %>% mutate(Hari = "Day 2"),
  mm1_3 %>% mutate(Hari = "Day 3")
)

final_mm1 <- bind_rows(
  perf_1 %>% mutate(Hari = "Day 1"),
  perf_2 %>% mutate(Hari = "Day 2"),
  perf_3 %>% mutate(Hari = "Day 3")
)

# 2. Parameter M/M/1
tabel_parameter <- final_params %>%
  select(Hari, lambda, mu, rho)

# 3. Karakteristik Sistem (M/M/1)
tabel_mm1 <- final_mm1 %>%
  select(Hari, rho, L, Lq, W, Wq)

# 4. Ringkasan Perbandingan
tabel_perbandingan <- final_params %>%
  mutate(
    Interpretasi = case_when(
      rho > 1 ~ "Sistem tidak stabil",
      rho < 0 ~ "Data tidak valid (service > arrival secara tidak wajar)",
      TRUE ~ "Sistem stabil"
    )
  )

# 5. Tabel Stabilitas
tabel_stabilitas <- final_params %>%
  mutate(
    Keterangan = ifelse(rho < 1, "Stabil", "Tidak Stabil")
  ) %>%
  select(Hari, rho, Keterangan)

In [15]:
print("Tabel Statistik Dasar:")
print(tabel_statistik)

print("\nTabel Parameter M/M/1:")
print(tabel_parameter)

print("\nTabel Karakteristik Sistem (M/M/1):")
print(tabel_mm1)

print("\nTabel Ringkasan Perbandingan:")
print(tabel_perbandingan)

print("\nTabel Stabilitas:")
print(tabel_stabilitas)

[1] "Tabel Statistik Dasar:"
# A tibble: 3 × 8
  Hari  jumlah_data mean_interarrival mean_service min_interarrival
  <chr>       <int>             <dbl>        <dbl>            <dbl>
1 Day 1          36              174.         207.                2
2 Day 2          42              166.         133.                0
3 Day 3          32              622.         178.                1
# ℹ 3 more variables: max_interarrival <dbl>, min_service <dbl>,
#   max_service <dbl>
[1] "\nTabel Parameter M/M/1:"
   Hari      lambda          mu       rho
1 Day 1 0.005748962 0.004837409 1.1884382
2 Day 2 0.006038821 0.007504020 0.8047448
3 Day 3 0.001608444 0.005630829 0.2856497
[1] "\nTabel Karakteristik Sistem (M/M/1):"
   Hari       rho         L        Lq        W        Wq
1 Day 1 1.1884382        NA        NA       NA        NA
2 Day 2 0.8047448 4.1215022 3.3167574 682.5011 549.23923
3 Day 3 0.2856497 0.3998733 0.1142237 248.6088  71.01501
[1] "\nTabel Ringkasan Perbandingan:"
  mean_interarrival_sec mean_service_sec      lambda          mu       rho
1              173.9444         206.7222 0.005748962 0.004837409 1.1884382
2              165.5952         133.2619 0.006038821 0.007504020 0.8047448
3              621.7188         177.5938 0.001608444 0.005630829 0.2856497
   Hari        Interpretasi
1 Day 1 Sistem tidak stabil
2 Day 2       Sistem stabil
3 Day 3       Sistem stabil
[1] "\nTabel Stabilitas:"
   Hari       rho   Keterangan
1 Day 1 1.1884382 Tidak Stabil
2 Day 2 0.8047448       Stabil
3 Day 3 0.2856497       Stabil

In [16]:
perf_1
perf_2
perf_3

  rho      L  Lq W  Wq
1 1.188438 NA NA NA NA

  rho       L        Lq       W        Wq
1 0.8047448 4.121502 3.316757 682.5011 549.2392

  rho       L         Lq        W        Wq
1 0.2856497 0.3998733 0.1142237 248.6088 71.01501

In [18]:
mm2_performance <- function(lambda, mu) {
  rho <- lambda / (2 * mu)

  if (rho >= 1) {
    return(data.frame(rho = rho, L = NA, Lq = NA, W = NA, Wq = NA))
  }

  # Probability of 0 customers in the system
  P0 <- 1 / ( (1) + (lambda / mu) + ( (lambda / mu)^2 / (2 * (1 - rho)) ) )

  # Lq (Expected number of customers in the queue)
  Lq <- (P0 * (lambda / mu)^2 * rho) / (2 * (1 - rho)^2)

  # L (Expected number of customers in the system)
  L <- Lq + (lambda / mu)

  # Wq (Expected waiting time in the queue)
  Wq <- Lq / lambda

  # W (Expected waiting time in the system)
  W <- Wq + (1 / mu)

  return(data.frame(rho = rho, L = L, Lq = Lq, W = W, Wq = Wq))
}

In [19]:
mm2_perf_1 <- mm2_performance(mm1_1$lambda, mm1_1$mu)
mm2_perf_2 <- mm2_performance(mm1_2$lambda, mm1_2$mu)
mm2_perf_3 <- mm2_performance(mm1_3$lambda, mm1_3$mu)

mm2_perf_1
mm2_perf_2
mm2_perf_3

  rho       L        Lq        W        Wq
1 0.5942191 1.837118 0.6486795 319.5564 112.8342

  rho       L         Lq        W        Wq
1 0.4023724 0.9602055 0.1554607 159.0055 25.74355

  rho       L         Lq          W        Wq
1 0.1428248 0.2915979 0.005948287 181.2919 3.698161

In [20]:
mm3_performance <- function(lambda, mu) {
  c <- 3 # Number of servers
  rho <- lambda / (c * mu)

  if (rho >= 1) {
    return(data.frame(rho = rho, L = NA, Lq = NA, W = NA, Wq = NA))
  }

  # Calculate P0 (Probability of 0 customers in the system)
  # Summation part: (lambda/mu)^n / n! for n from 0 to c-1
  sum_part <- sum(sapply(0:(c-1), function(n) {
    if (n == 0) 1
    else (lambda/mu)^n / factorial(n)
  }))

  # Last term: ((lambda/mu)^c / c!) * (1 / (1 - rho))
  last_term <- ((lambda/mu)^c / factorial(c)) * (1 / (1 - rho))

  P0 <- 1 / (sum_part + last_term)

  # Lq (Expected number of customers in the queue)
  Lq <- ( (lambda/mu)^c * rho ) / ( factorial(c) * (1 - rho)^2 ) * P0

  # L (Expected number of customers in the system)
  L <- Lq + (lambda / mu)

  # Wq (Expected waiting time in the queue)
  Wq <- Lq / lambda

  # W (Expected waiting time in the system)
  W <- Wq + (1 / mu)

  return(data.frame(rho = rho, L = L, Lq = Lq, W = W, Wq = Wq))
}

In [30]:
mm3_perf_1 <- mm3_performance(mm1_1$lambda, mm1_1$mu)
mm3_perf_2 <- mm3_performance(mm1_2$lambda, mm1_2$mu)
mm3_perf_3 <- mm3_performance(mm1_3$lambda, mm1_3$mu)

mm3_perf_1
mm3_perf_2
mm3_perf_3

  rho       L        Lq         W        Wq
1 0.3961461 1.278949 0.09051082 222.4661 15.74385

  rho       L         Lq         W        Wq
1 0.2682483 0.8241081 0.01936335 136.4684 3.206478

  rho        L         Lq           W        Wq
1 0.09521655 0.2859892 0.0003395311 177.8048 0.2110928

In [23]:
mm4_performance <- function(lambda, mu) {
  c <- 4 # Number of servers
  rho <- lambda / (c * mu)

  if (rho >= 1) {
    return(data.frame(rho = rho, L = NA, Lq = NA, W = NA, Wq = NA))
  }

  # Calculate P0 (Probability of 0 customers in the system)
  # Summation part: (lambda/mu)^n / n! for n from 0 to c-1
  sum_part <- sum(sapply(0:(c-1), function(n) {
    if (n == 0) 1
    else (lambda/mu)^n / factorial(n)
  }))

  # Last term: ((lambda/mu)^c / c!) * (1 / (1 - rho))
  last_term <- ((lambda/mu)^c / factorial(c)) * (1 / (1 - rho))

  P0 <- 1 / (sum_part + last_term)

  # Lq (Expected number of customers in the queue)
  Lq <- ( (lambda/mu)^c * rho ) / ( factorial(c) * (1 - rho)^2 ) * P0

  # L (Expected number of customers in the system)
  L <- Lq + (lambda / mu)

  # Wq (Expected waiting time in the queue)
  Wq <- Lq / lambda

  # W (Expected waiting time in the system)
  W <- Wq + (1 / mu)

  return(data.frame(rho = rho, L = L, Lq = Lq, W = W, Wq = Wq))
}

In [26]:
mm5_performance <- function(lambda, mu) {
  c <- 5 # Number of servers
  rho <- lambda / (c * mu)

  if (rho >= 1) {
    return(data.frame(rho = rho, L = NA, Lq = NA, W = NA, Wq = NA))
  }

  # Calculate P0 (Probability of 0 customers in the system)
  # Summation part: (lambda/mu)^n / n! for n from 0 to c-1
  sum_part <- sum(sapply(0:(c-1), function(n) {
    if (n == 0) 1
    else (lambda/mu)^n / factorial(n)
  }))

  # Last term: ((lambda/mu)^c / c!) * (1 / (1 - rho))
  last_term <- ((lambda/mu)^c / factorial(c)) * (1 / (1 - rho))

  P0 <- 1 / (sum_part + last_term)

  # Lq (Expected number of customers in the queue)
  Lq <- ( (lambda/mu)^c * rho ) / ( factorial(c) * (1 - rho)^2 ) * P0

  # L (Expected number of customers in the system)
  L <- Lq + (lambda / mu)

  # Wq (Expected waiting time in the queue)
  Wq <- Lq / lambda

  # W (Expected waiting time in the system)
  W <- Wq + (1 / mu)

  return(data.frame(rho = rho, L = L, Lq = Lq, W = W, Wq = Wq))
}

In [28]:
mm5_perf_1 <- mm5_performance(mm1_1$lambda, mm1_1$mu)
mm5_perf_2 <- mm5_performance(mm1_2$lambda, mm1_2$mu)
mm5_perf_3 <- mm5_performance(mm1_3$lambda, mm1_3$mu)

mm5_perf_1
mm5_perf_2
mm5_perf_3

  rho       L        Lq          W        Wq
1 0.2376876 1.190899 0.002461025 207.1503 0.4280816

  rho      L         Lq           W        Wq
1 0.160949 0.8050323 0.0002875429 133.3095 0.04761573

  rho        L         Lq           W        Wq
1 0.05712993 0.2856504 7.654048e-07 177.5942 0.0004758665

In [24]:
mm4_perf_1 <- mm4_performance(mm1_1$lambda, mm1_1$mu)
mm4_perf_2 <- mm4_performance(mm1_2$lambda, mm1_2$mu)
mm4_perf_3 <- mm4_performance(mm1_3$lambda, mm1_3$mu)

mm4_perf_1
mm4_perf_2
mm4_perf_3

  rho       L        Lq         W        Wq
1 0.2971095 1.203619 0.01518072 209.3628 2.640603

  rho       L         Lq          W        Wq
1 0.2011862 0.8072075 0.002462671 133.6697 0.4078066

  rho        L         Lq           W        Wq
1 0.07141242 0.2856669 1.726609e-05 177.6045 0.01073465

# FUll COde sesuai laporan

## 1. Pengolahan Data Kedatangan dan Pelayanan

Data diambil dari tiga hari observasi dan berisi waktu:

- Waktu pelanggan masuk antrean
- Waktu mulai dilayani
- Waktu selesai dilayani

Sama seperti di paper, analisis berfokus pada:
- Waktu antar kedatangan (interarrival time)
- Waktu pelayanan (service time)
- Perhitungan λ, μ, dan rasio utilisasi ρ